<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} | SGC</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-secondary fs-2">
        <div class="container-fluid">
            <a class="navbar-brand col-4 text-center fs-2" href="{% url 'home' %}">Sistema de Gestión y Control</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-5">
            </div>
            <div class="collapse navbar-collapse m-2 " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rastreo' %}">Rastreo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'panel' %}">Panel</a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>