{% extends 'seguimientoApp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>{% block title %}Panel{% endblock %} </title>
</head>
<body>

    {% block content %}

    <div class="alert alert-secondary display-1 text-center">
        <h1>Panel de control</h1>
    </div>

    {% endblock %}

    
</body>
</html>