{% extends 'seguimientoApp/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>{% block title %}Rastreo{% endblock %} </title>
</head>
<body>

    {% block content %}
    
    <div class="alert alert-secondary display-1 text-center">
        <h1>Rastreo</h1>
    </div>
    <div class="row">
        <div class="display-4 col-6">
            <ul>
                <li>Vehículo 1</li>
                <li>Vehículo 2</li>
                <li>Vehículo 3</li>
                <li>Vehículo 4</li>
            </ul>
        </div>
        <div class="col-6">
            <img src="{% static 'images/mapa.jpg' %}" width="70%" alt="mapa">
        </div>
    </div>

    {% endblock %}

    
    
</body>
</html>